@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format('embedded-opentype'),url("../fonts/Montserrat-Light.woff2") format('woff2'),url("../fonts/Montserrat-Light.woff") format('woff'),url("../fonts/Montserrat-Light.ttf") format('truetype'),url("../fonts/Montserrat-Light.svg#Montserrat-Light") format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format('embedded-opentype'),url("../fonts/Montserrat-Thin.woff2") format('woff2'),url("../fonts/Montserrat-Thin.woff") format('woff'),url("../fonts/Montserrat-Thin.ttf") format('truetype'),url("../fonts/Montserrat-Thin.svg#Montserrat-Thin") format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),url("../fonts/Montserrat-Regular.woff2") format('woff2'),url("../fonts/Montserrat-Regular.woff") format('woff'),url("../fonts/Montserrat-Regular.ttf") format('truetype'),url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),url("../fonts/Montserrat-Medium.woff2") format('woff2'),url("../fonts/Montserrat-Medium.woff") format('woff'),url("../fonts/Montserrat-Medium.ttf") format('truetype'),url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: '../fonts/Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format('embedded-opentype'),url("../fonts/Montserrat-ExtraLight.woff2") format('woff2'),url("../fonts/Montserrat-ExtraLight.woff") format('woff'),url("../fonts/Montserrat-ExtraLight.ttf") format('truetype'),url("../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format('svg');
  font-weight: 200;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.desktop {
  display: block;
}

.mobil {
  display: none;
}

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 30;
}

.contpre h1,
.contpre small {
  font-family: "Montserrat";
  font-weight: 200;
  letter-spacing: 2px;
}

.contpre small {
  font-size: 25px;
  color: #777;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  text-align: center;
}

.contpre h1 {
  margin: 0;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  font-style: normal;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url("../img/oval.svg") center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

.header-row_menu_fix {
  display: none;
  position: fixed;
  left: 0;
  z-index: 40;
  text-align: center;
  height: 6rem;
  line-height: 6rem;
  background-color: #0c0b0b;
  width: 100%;
}

.header-row_menu_fix .col-menu_fix {
  height: 6rem;
}

.header .cont-abs .header-row_menu .col-menu ul li:last-child,
.header-row_menu_fix .col-menu_fix ul li:last-child,
.top-menu .top-menu_link ul li:last-child {
  margin: 0!important;
}

.header-row_menu_fix .col-menu_fix ul {
  height: 6rem;
  margin: 0;
}

.header-row_menu_fix .col-menu_fix ul li,
.top-menu .top-menu_link ul li {
  position: relative;
  display: inline-block;
  margin-right: 10%;
}

.header-row_menu_fix .col-menu_fix ul li a,
.top-menu .top-menu_link ul li a {
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.2rem;
  font-family: "Montserrat",sans-serif;
  color: #eee;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.contact .contact-li span a:hover,
.header-row_menu_fix .col-menu_fix ul li:hover a,
.header-top .adr a:hover,
.header-top .tel a:hover,
.top-menu .top-menu_link ul li:hover a {
  color: #f28942;
}

.header-row_menu_fix .col-menu_fix ul li:hover .brd-btm_fix {
  bottom: 8px;
}

.header-top,
.ht {
  background-color: #151512;
}

.ht {
  width: 100%;
}

.header-top {
  height: 6rem;
  font-family: "Montserrat";
  color: #cfccca;
}

.header-top .out-col_start span {
  line-height: 6rem;
  letter-spacing: .5px;
  font-size: 12px;
  font-weight: 300;
}

.header-top .tel a {
  display: inline-block;
  line-height: 6rem;
  font-size: 14px;
  letter-spacing: 1px;
}

.header-top .tel a:hover .phone-ico {
  background: url("../img/phone-hover.png") center center no-repeat;
}

.header-top .tel .phone-ico {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../img/phone.png") center center no-repeat;
  position: relative;
  left: 12px;
  top: 8px;
}

.header-top .adr {
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 300;
}

.header-top .adr a,
.header-top .tel a {
  text-decoration: none;
  color: #cfccca;
}

.header-top .adr a:hover .place-ico {
  background: url("../img/place-hover.png") center center no-repeat;
}

.header-top .adr .place-ico {
  display: inline-block;
  height: 30px;
  background: url("../img/place.png") center center no-repeat;
}

.header-top .adr #adr-top {
  position: relative;
  top: 10px;
}

.header-top .adr #adr-bottom {
  position: relative;
  top: 0;
}

.header-top .adr .place-ico,
.header-top .adr img {
  width: 30px;
  position: relative;
  left: 110px;
  top: -5px;
}

.header-top .vk {
  height: 6rem;
}

.header-top .vk a {
  display: block;
  height: 6rem;
  width: 50px;
  background: url("../img/vk.png") no-repeat center center;
}

.header-top .vk a:hover {
  background: url("../img/vk_hover.png") no-repeat center center;
}

.top-menu {
  background-color: #fff;
  position: static;
}

.top-menu,
.top-menu .mi-logo,
.top-menu .top-menu_link,
.top-menu .top-menu_link ul {
  height: 10rem;
}

.top-menu .mi-logo img {
  position: relative;
  top: 13px;
}

.top-menu .mi-logo .logo-text1,
.top-menu .mi-logo .logo-text2 {
  position: relative;
  left: 5rem;
  top: 10px;
  letter-spacing: 2px;
  font-family: "Montserrat";
  font-size: 18px;
}

.top-menu .mi-logo .logo-text2 {
  left: 12rem;
  top: -15px;
  letter-spacing: 3px;
  font-size: 12px;
  color: #f28942;
}

.top-menu .top-menu_link ul li {
  margin-right: 20%;
  top: 3.1rem;
  line-height: 3.5rem;
}

.top-menu .top-menu_link ul li a {
  color: #000;
}

.header-row_menu_fix .col-menu_fix ul li:hover .brd-btm_fix,
.top-menu .top-menu_link ul li:hover .brd-btm_fix {
  position: absolute;
  left: 50%;
  transition: all 300ms ease;
  -webkit-transform: translateX(-1.5rem);
  -moz-transform: translateX(-1.5rem);
  -ms-transform: translateX(-1.5rem);
  -o-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
  width: 3rem;
  border: 1px solid #f28942;
}

.header {
  position: relative;
  height: 60rem;
}

.header .carousel {
  margin: 0;
}

.header .carousel button {
  display: none!important;
}

.header .carousel .slide1 {
  height: 60rem;
  width: 100%;
  background: url("../img/header-first.jpg") no-repeat center center;
  -webkit-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}

.header .carousel .slide1:focus,
.header .carousel .slide2:focus,
.header .carousel .slide3:focus {
  outline: 0;
}

.header .carousel .slide1-img {
  position: absolute;
  width: 350px;
  top: 1rem;
  left: 15rem;
  z-index: 100;
}

.header .carousel .slide2 {
  height: 60rem;
  width: 100%;
  background: url("../img/header-first.jpg") no-repeat center center;
  -webkit-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}

.header .carousel .slide2-img {
  position: absolute;
  width: 450px;
  top: 3rem;
  left: 15rem;
  z-index: 100;
}

.header .carousel .slide3 {
  height: 60rem!important;
  width: 100%;
  background: url("../img/index-sound-bg.jpg") no-repeat center center;
  -webkit-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}

.header a .icon {
  z-index: 15;
  position: absolute;
  top: 0;
  font-size: 5rem;
  color: #fff;
}

.header a .icon:hover,
.service-row_box .col-ser_box .ser-hover:hover h2 {
  color: #ffa800;
}

.header a .fa-angle-left {
  left: 3rem;
  top: 50%;
}

.header a .fa-angle-right {
  right: 3rem;
  top: 50%;
}

.header .header-search_active {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10.5rem;
  line-height: 10.5rem;
  text-align: center;
  background-color: #0c0c0c;
  z-index: 50;
  display: none;
}

.header .header-search_active .inp-search,
.header .header-search_active label {
  font-size: 2.5rem;
  font-family: "Playfair Display";
  color: #838383;
}

.header .header-search_active .inp-search {
  width: 50%;
  line-height: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 2rem;
  background-color: #0c0c0c;
  border: 0;
  outline-style: none;
}

.header .header-search_active .fa-close {
  position: relative;
  top: -.4rem;
  font-size: 1.4rem;
  color: #ffa800;
}

.header .cont-abs {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: auto;
  z-index: 5;
}

.header .cont-abs .header-row_menu {
  text-align: center;
  margin-top: 3.5rem;
}

.header .cont-abs .header-row_menu .col-logo,
.header .cont-abs .header-row_menu .col-menu {
  height: 3.5rem;
  line-height: 3.5rem;
}

.header .cont-abs .header-row_menu .col-logo h1 {
  margin: 0;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 100;
  color: #fff;
  background-image: url("../img/logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header .cont-abs .header-row_menu .col-logo span {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  color: #ffa800;
}

.header .cont-abs .header-row_menu .col-menu ul li {
  display: inline-block;
  margin-right: 3rem;
  position: relative;
}

.header .cont-abs .header-row_menu .col-menu ul li a {
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.4rem;
  font-family: "Montserrat";
  color: #ffa800;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.header .cont-abs .header-row_menu .col-menu ul li a .fa-search {
  font-size: 1.4rem;
  color: #ffa800;
}

.header .cont-abs .header-row_menu .col-menu ul li a .fa-search:hover,
.header .cont-abs .header-row_menu .col-menu ul li:hover a {
  color: #fff;
}

.header .cont-abs .header-row_menu .col-menu ul li:hover .brd-btm {
  position: absolute;
  left: 50%;
  transition: all 300ms ease;
  -webkit-transform: translateX(-1.5rem);
  -moz-transform: translateX(-1.5rem);
  -ms-transform: translateX(-1.5rem);
  -o-transform: translateX(-1.5rem);
  transform: translateX(-1.5rem);
  width: 3rem;
  border: 1px solid #fff;
}

.header .header-sld {
  margin-top: 15rem;
  margin-left: 40rem;
  text-align: center;
}

.header .header-sld .col-sld h3 {
  position: relative;
  left: -25rem;
  top: -2rem;
  font-size: 1.5rem;
  font-family: "Montserrat";
  letter-spacing: 3px;
  color: #f28942;
}

.header .header-sld .col-sld h1 {
  font-size: 4rem;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 100;
  font-style: normal;
}

.header .header-sld .col-sld h2 {
  margin-top: 6rem;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 300;
  color: #9d9d9d;
}

.header .header-sld .col-sld .sld-btn {
  display: inline-block;
  transition: all 500ms ease;
  margin-top: 5.5rem;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  background-color: rgba(0,0,0,.102);
  width: 145px;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.4rem;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.bottom-parralax_content .b-par_btn:hover,
.header .header-sld .col-sld .sld-btn:hover {
  transition: all 500ms ease;
  background-color: #fff;
  color: #000;
}

.bottom-parralax_content .b-par_btn:focus,
.header .header-sld .col-sld .sld-btn:focus,
.header .header-sld .col-sld:focus {
  outline: 0;
}

.content-aboutus {
  width: 100%;
  padding-bottom: 10rem;
  background-color: #0c0c0c;
  text-align: center;
}

.content-aboutus h1 {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  color: #aaa;
}

.content-aboutus img {
  min-width: 300px;
  width: 50%;
  max-width: 700px;
  -webkit-box-shadow: 0 0 15px rgba(255,255,255,.3);
  box-shadow: 0 0 15px rgba(255,255,255,.3);
}

.content-aboutus .aboutus-text {
  text-align: left;
  margin: 0 auto;
  line-height: 1.5;
  padding-top: 3rem;
  width: 70%;
  font-family: Montserrat;
  font-style: 12px;
  font-weight: 300;
  color: #666;
}

.service {
  position: relative;
  text-align: center;
  margin-top: -5rem;
  background-color: #fff;
  padding-bottom: 15rem;
  z-index: 2;
}

.service .box-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.5);
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  height: 22rem;
}

.service .box-shadow_over {
  position: absolute;
  top: 22rem;
  left: 0;
  width: 100%;
  height: 30rem;
  background-color: #fff;
}

.service-row_cap .col-serv_cap h1 {
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  font-style: normal;
}

.service-row_cap .col-serv_cap h2 {
  font-size: 2rem;
  font-family: "Playfair Display";
  font-weight: 300;
  color: #000;
  font-style: normal;
}

.service-row_cap .col-serv_cap p {
  font-size: 1.4rem;
  font-family: "Raleway";
  color: #4a4a4a;
  padding-top: 1rem;
}

.service-row_cap .col-serv_cap h2:after,
.service-row_cap .col-serv_cap h2:before {
  content: '';
  display: inline-block;
  width: 5rem;
  border-bottom: 1px solid rgba(0,0,0,.5);
  margin-bottom: 1rem;
}

.service-row_cap .col-serv_cap h2:before {
  margin-right: 2rem;
}

.service-row_cap .col-serv_cap h2:after {
  margin-left: 2rem;
}

.service-row_box,
.service-row_box .col-ser_box {
  margin-top: 2rem;
}

.service-row_box .col-ser_box .ser-hover h2,
.service-row_box .col-ser_box .ser-hover p {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  font-style: normal;
}

.service-row_box .col-ser_box .ser-hover p {
  font-size: 1.3rem;
  color: #474747;
}

.service-row_box .col-ser_box .ser-hover .brd-btm_serv {
  width: 6rem;
  border-bottom: 3px solid;
  margin: auto;
}

.service-row_box .col-ser_box .ser-hover:hover {
  transition: all 300ms ease;
  background-color: #f0f0f0;
}

.service-row_box .col-ser_box .ser-hover:hover .brd-btm_serv {
  transition: all 300ms ease;
  width: 3rem;
  border-bottom: 3px solid #ffa800;
  margin: auto;
}

.top-parralax {
  margin-top: 0;
  text-align: center;
  width: 100%;
  background-color: #f5f5f7;
}

.top-parralax_content {
  height: 25rem;
  background-image: url("../img/parallax-mi.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: fill;
  -o-background-size: fill;
  background-size: fill;
  background-attachment: fixed;
}

.bottom-parralax_content .new-goods,
.top-parralax_content p {
  padding-top: 11rem;
  font-size: 2.3rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #555;
}

.bottom-parralax {
  text-align: center;
  width: 100%;
  height: 25rem;
  background-color: #161616;
}

.bottom-parralax_content,
.contact-fon {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: fill;
  -o-background-size: fill;
  background-size: fill;
  background-attachment: fixed;
}

.bottom-parralax_content {
  height: 25rem;
  vertical-align: middle;
  background-image: url("../img/parallax-bot.jpg");
}

.bottom-parralax_content .new-goods {
  display: block;
  padding-top: 6rem;
  font-weight: 300;
  color: #ccc;
}

.bottom-parralax_content .b-par_btn {
  display: inline-block;
  transition: all 500ms ease;
  margin-top: 5.5rem;
  border-width: 2px;
  border-color: #fff;
  border-style: solid;
  background-color: rgba(0,0,0,.102);
  width: 145px;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.4rem;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.contact-fon {
  background-image: url("../img/parallax-mi.jpg");
}

.contact {
  padding-bottom: 3rem;
}

.contact .contact-logo {
  padding-top: 3rem;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 400;
  color: #222;
}

.contact .contact-text {
  text-align: left;
  padding-bottom: 2rem;
}

.contact .contact-map {
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.contact .contact-li {
  height: 3rem;
}

.contact .contact-li span,
.footer {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}

.contact .contact-li span {
  padding-left: 1rem;
  font-size: 1.5rem;
  color: #474747;
}

.contact .contact-li span a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #474747;
}

.footer {
  background-color: #0c0b0b;
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.footer p {
  margin: 1rem;
}

@media (min-width:993px) and (max-width:1200px) {
  .header {
    height: 50rem;
  }

  .header .carousel .slide1 {
    height: 50rem;
    width: 100%;
  }

  .header .carousel .slide1-img {
    width: 280px;
    top: 4rem;
    left: 6rem;
    z-index: 100;
  }

  .header .carousel .slide2 {
    height: 50rem;
    width: 100%;
  }

  .header .carousel .slide2-img {
    width: 350px;
    top: 3rem;
    left: 7rem;
    z-index: 100;
  }

  .header .carousel .slide3 {
    height: 50rem!important;
    width: 100%;
  }

  .header .header-sld {
    margin-top: 10rem;
    margin-left: 30rem;
  }

  .header .header-sld .col-sld h3 {
    left: -25rem;
    top: -2rem;
    font-size: 1.2rem;
  }

  .header .header-sld .col-sld h1 {
    font-size: 3rem;
  }

  .header .header-sld .col-sld h2 {
    margin-top: 6rem;
    font-size: 15px;
  }

  .header .header-sld .col-sld .sld-btn {
    font-size: 1.2rem;
  }
}

@media (min-width:700px) and (max-width:992px) {
  .header {
    height: 50rem;
  }

  .header .carousel .slide1 {
    height: 50rem;
    width: 100%;
    background: url("../img/gallery-img-6.jpg") no-repeat center center;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
  }

  .header .carousel .slide1-img {
    display: none;
  }

  .header .carousel .slide2 {
    height: 50rem;
    width: 100%;
    background: url("../img/mix2-comment-02.jpg") no-repeat center center;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
  }

  .header .carousel .slide2-img {
    display: none;
  }

  .header .carousel .slide3 {
    height: 50rem!important;
    width: 100%;
    background: url("../img/index-header-bg-v2.jpg-123.jpg") no-repeat center center;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
  }

  .header .header-sld {
    margin-top: 10rem;
    margin-left: 0;
  }

  .header .header-sld .col-sld h3 {
    left: -25rem;
    top: -2rem;
    font-size: 1.2rem;
  }

  .header .header-sld .col-sld h1 {
    font-size: 3rem;
  }

  .header .header-sld .col-sld h2 {
    margin-top: 6rem;
    font-size: 15px;
  }

  .header .header-sld .col-sld .sld-btn {
    font-size: 1.2rem;
  }
}

@media (max-width:700px) {
  html {
    font-size: 8px;
    overflow-x: hidden;
  }

  .desktop {
    display: none;
  }

  .header {
    height: 50rem;
  }

  .header .carousel .slide1 {
    height: 50rem;
    width: 100%;
    background: url("../img/gallery-img-6.jpg") no-repeat center center;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
  }

  .header .carousel .slide1-img {
    display: none;
  }

  .header .carousel .slide2 {
    height: 50rem;
    width: 100%;
    background: url("../img/header-first.jpg") no-repeat center center;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
  }

  .header .carousel .slide2-img {
    width: 300px;
    top: 3rem;
    left: 10rem;
  }

  .header .carousel .slide3 {
    height: 50rem!important;
    width: 100%;
    background: url("../img/mix2-comment-02.jpg") no-repeat center center;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
  }

  .header .header-sld {
    margin-top: 10rem;
    margin-left: 0;
  }

  .header .header-sld .col-sld h3 {
    left: 0;
    top: -2rem;
    font-size: 1.2rem;
  }

  .header .header-sld .col-sld h1 {
    font-size: 3rem;
  }

  .header .header-sld .col-sld h2 {
    margin-top: 6rem;
    font-size: 15px;
  }

  .header .header-sld .col-sld .sld-btn {
    font-size: 1.2rem;
  }
}